body {
    font-family: var(--ff-barlow);
    font-size: var(--fs);
    position: relative;
}

body::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 53vh;
    width: 50vw;
    border-bottom-left-radius: 4rem;
    margin-inline-start: auto;
    background-color: var(--body-bg-pattern-clr);
}